<span style="font-size:75%;">All content &copy; 2017-2019 Nathaniel Leveck, all rights reserved. Gopher links funneled through the <a href="http://jynx.gopherite.org">RPoD
gopher->http proxy server</a>. Robots.txt is configured correctly for this proxy.</span><br>
<hr>
<center>
<img src="rpodnow.png" alt="RPoD Now! |">&nbsp;<img src="poweredbypi.png" alt="RPoD is Powered By Raspberry Pi |">&nbsp;<a href="http://jynx.gopherite.org/?h=1436.ninja&p=70&r=/1/My_Guestbook.cgi"><img src="guestbook.gif" alt="Sign my guestbook! |"></a>&nbsp;<img src="jsfree.gif" alt="RPoD is javascript free! |">&nbsp;<img src="lynx.gif" alt="Lynx now! |">&nbsp;<img src="gopher.jpg" alt="gopher now! |">&nbsp;<img src="validhtml4.png" alt="This page is valid HTML 4.01 Transitional">
</center>
