tr:nth-child(even) {background: #EDEDED;}
tr:nth-child(odd) {background: #FFFFFF}

body {
  margin: 0 auto;
  max-width: 50em;
  min-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

.header {
  width: 38em;
  margin: 0 auto;
  text-align: center;
}

table {
  width: 100%
}

.top{
color: red;
text-align: center;
}

.small{
font-size: .75em;
font-style: italic;
}

pre code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
  margin: 0px;
}

th{
  text-align: left;
}
